body{
    background-color: rgb(85, 134, 134);
}
.center-box{
    width: 100%;
    height: 100vh;        /* full screen height */
    display: flex;
    justify-content: center;   /*horizontal center*/
    align-items: center;     /* vertical center */
    flex-direction: column;

}

#pic{
    width: 700px;
    height: auto;
    border-radius: 4%;
}

.center-box button{
    font-size: 150%;
    padding: 15px 30px; /*vertical|horizontal*/
    border-radius:6% ;
    justify-content: center;
    margin: 0 143px; /* left & right margin */
    margin-top: 2%;
    font-style: italic;
    background-color: rgb(230, 189, 201);
}
h1{
    color: black;
    font-size: 50px;
    font-style: italic;
    text-align: center;
}
